aiofiles
boto3
fastapi
gdown
httpx
imutils
numpy
opencv_python
orjson
passlib[bcrypt]
pillow
psycopg2-binary
python_jose
python_multipart
realesrgan
requests
shapely
SQLAlchemy>=2
# Optional; base TimescaleDB is the key
timescale-vector
torchreid
ultralytics
uvicorn[standard]
